nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    margin: 0 6em;
  }
  
  ul{
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size: large;
  }
  
  li{
    list-style: none;
  }
  
  li a{
    color: #333333;
    font-weight: 600;
    text-decoration: none;
    text-wrap: nowrap;
  }
  
  a:visited{
    color: #333333;
  }
  
  p{
    margin: 0;
  }